<h3>Proyectos</h3>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Casa Stiven</mat-card-title>
            <mat-card-subtitle>1 controlador</mat-card-subtitle>
            <mat-card-actions>
                <button mat-button [routerLink]="'/controlador'">ver Controladores</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>lista-controladores works!</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>lista-controladores works!</p>
    </mat-grid-tile>
</mat-grid-list>